@tailwind components;

@layer components {
  .product-card {
    border: 1px solid theme('colors.gray.200');
  }

  .product-card a:hover {
    color: theme('colors.gray.200');
  }

  .single-product-wrapper {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-rows: auto auto;
    -ms-grid-rows: auto auto;
    grid-gap: 5rem;
    gap: 5rem;
  }

  .action-btn-container {
    
  }

  @media only screen and (min-width: 768px) {
    .single-product-wrapper {
      grid-template-columns: 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      -ms-grid-rows: 1fr;
    }

    .action-btn-container {
      _grid-template-columns: 150px 1fr;
    }
  }
}